.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 48px;
  padding-left: 24px;
  padding-top: 36px;
  padding-bottom: 36px;
  max-width: 1020px;
  width: 100%;
}
