.container {
  width: 380px;
  margin: 50px auto 0;
  padding: 24px;
  background-color: var(--dark-500);

  .title {
    margin-bottom: 20px;
  }

  .logos {
    gap: 60px;

    img {
      display: block;
    }
  }

  .form {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .link {
      font-weight: 400;
      font-size: 12px;
    }
  }

  .center {
    display: flex;
    justify-content: center;
  }
}
