.imageContainer {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.slider {
  height: 100%;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.left,
.right {
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translate(0, -50%);

  cursor: pointer;

  border-radius: 2px;
  width: 24px;
  height: 24px;

  background: color-mix(in srgb, var(--dark-300) 50%, transparent);

  &.left {
    left: 8px;
  }

  &.right {
    right: 8px;
  }
}

.dotsContainer {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: center;
  align-items: center;

  height: 12px;
  background-color: color-mix(in srgb, var(--dark-300) 50%, transparent);
  border-radius: 2px;

  .dot {
    width: 6px;
    height: 6px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 4px;
    cursor: pointer;

    &::before {
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: var(--light-100);
    }

    &.active::before {
      background-color: var(--accent-500);
    }

    &:first-child {
      margin-left: 8px;
      margin-right: 4px;
    }

    &:last-child {
      margin-left: 4px;
      margin-right: 8px;
    }
  }
}
