.page {
  min-height: calc(100vh - 61px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 95px;

  .card {
    width: 378px;
    max-width: 100%;
    min-height: 456px;
    background: var(--dark-500);
    padding: 24px;
    border: 1px solid var(--dark-300);
    border-radius: 2px;

    .title {
      font-size: 20px;
      font-weight: 700;
      line-height: 36px;
      text-align: center;
      color: var(--light-100);
      margin-bottom: 37px;
    }

    .form {
      display: flex;
      flex-direction: column;

      font-size: 14px;
      font-weight: 400;
      line-height: 24px;

      .field {
        margin-bottom: 17px;

        .forgotPasswordInput {
          margin-bottom: 7px;
        }

        .description {
          color: var(--light-900);
        }

        .descriptionSuccess {
          margin-bottom: 23px;
        }

        .descriptionSuccessText {
          color: var(--light-100);
        }
      }

      .submit {
        width: 100%;
        margin-bottom: 24px;
      }

      .backLink {
        display: block;
        font-size: 16px;
        font-weight: 600;
        padding: 6px 24px;
        width: 100%;
        margin-bottom: 24px;
        text-decoration: none;
        text-align: center;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      .recaptcha {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }
}
