.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
}

.title {
  font-size: 16px;
  font-weight: 600;
  color: var(--light-100);

}

.closeBtn {
  width: 28px;
  height: 28px;
  border-radius: 6px;
  border: none;
  background: transparent;
  color: var(--light-100);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.body {
  height: 536px;
}

.selectWrap {
  height: 100%;
  padding: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.previewStep {
  height: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.avatarPreview {
  position: relative;
  width: 280px;
  height: 280px;
  margin: 32px auto 0;
  border-radius: 50%;
  overflow: hidden;
}

.avatarImg {
  object-fit: cover;
}

.actions {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
}
