.wrapper {
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
}

.label {
  font-size: 14px;
  color: var(--light-900);
  padding-bottom: 2px;
}

.trigger {
  all: unset; //Сбрасывает все браузрные стили элемента.
  box-sizing: border-box;
  min-width: 180px;
  height: 36px;
  padding: 6px 42px 6px 12px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--dark-300);
  background: var(--dark-700);
  color: var(--light-100);
  font-size: 14px;
  cursor: pointer;
  position: relative;
  font-size: 16px;
}

//Растягивает value селекта(который radix вставляет в span) по всему свободному пространству trigger-a.
.trigger > span {
  flex: 1;
}

.trigger:not([data-disabled]):hover {
  background: var(--dark-500);
  border-color: var(--dark-100);
}

.trigger[data-state="open"] {
  background: var(--dark-700);
  border-color: var(--light-100);
}

.trigger:focus-visible {
  outline: 2px solid var(--accent-500);
}

.trigger[data-disabled],
.trigger[aria-disabled="true"] {
  cursor: not-allowed;
  color: var(--dark-100);
  border-color: var(--dark-500);
  background: var(--dark-700);
}
.iconLeft {
  width: 20px;
  height: 20px;
  right: 10px;
  display: inline-flex;
  pointer-events: none;
}

.icon {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 10px;
  display: inline-flex;
  pointer-events: none;
}

.icon img {
  transition: transform 0.15s ease;
}

//Переворачивает стрелку на 180° когда открывается селект.
.trigger[data-state="open"] .icon img {
  transform: rotate(180deg);
}

//Добавила скролл в случае если будет больще 3-х option-ов()
.viewport {
  max-height: 110px;
  overflow-y: scroll;
}

.content {
  background: var(--dark-500);
  border: 1px solid var(--light-300);
  min-width: var(--radix-select-trigger-width); //Эту переменную динамически создает Radix.
  overflow: hidden;
  z-index: 20;
}

.item {
  font-size: 16px;
  line-height: 1;
  padding: 8px 12px;
  cursor: pointer;
  color: var(--light-100);
  display: flex;
  align-items: center;
  border: none;
  outline: none;
}

.item:focus {
  background: var(--dark-300);
}

.item[data-highlighted] {
  background: var(--dark-300);
}

.item[data-state="checked"] {
  color: var(--accent-300);
}

.item[data-disabled] {
  color: var(--dark-300);
  cursor: not-allowed;
}
