body{
    background-color: black;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-500);

    .inputs{
        height: 270px;
        width: 330px;
        margin-top: 30px;
        // background-color: red;
        .input{
            // width: 330px;
            width: 100%;
            // height: 36px;
        }
        .wrapperInput{
            margin-bottom: 20px;
        }
         .labelPassword{
            font-weight: 400;
            font-size: 14px;
            line-height: 171%;
            color: var(--light-900);
            width: 320px;
        }
    }
    
    .title{
        display: flex;
        justify-content: center;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 20px;
        line-height: 180%;
        text-align: right;
        color: var(--light-100);
        margin-top: 20px;
    }

    .button{
        width:330px;
        height: 36px;
    }
}
