.heading {
  margin-top: 35px;
  margin-bottom: 20px;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.constrainedWidth {
  width: 100%;
  max-width: 294px;
  text-align: center;
}
