@import "../shared/styles/colors.scss";

// Обнуление стилей
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--dark-700);
  color: var(--light-100);
}

a {
  color: var(--accent-300);
}

h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  text-align: center;
  color: var(--light-100);
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--light-100);
}
