@import "../shared/styles/colors.scss";

// Обнуление стилей
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: "Inter", sans-serif;
}
