.wrapperContainer{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100vw;
    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--dark-500);

        .inputs{
            height: 270px;
            width: 330px;
            margin-top: 30px;
            .input{
                width: 100%;
            }
            .wrapperInput{
                margin-bottom: 20px;
            }
            .labelPassword{
                font-weight: 400;
                font-size: 14px;
                line-height: 171%;
                color: var(--light-900);
                width: 320px;
            }
        }
        
        .title{
            display: flex;
            justify-content: center;
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 20px;
            line-height: 180%;
            text-align: right;
            color: var(--light-100);
            margin-top: 20px;
        }

        .button{
            width:330px;
            height: 36px;
        }
    }
}