.header {
  width: 100%;
  border-bottom: 1px solid var(--dark-100);
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 60px;
}

.row {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 36px;
  font-size: 26px;
  line-height: 36px;
  font-weight: 600;
  color: var(--light-100);
  font-weight: 600;
}

.right {
  display: flex;
  align-items: center;
  gap: 36px;
}

.link {
  color: #ccc;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    color: var(--light-100);
  }
}
