.header {
  width: 100%;
  border-bottom: 1px solid var(--dark-100);
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 60px;
}

.row {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 36px;
}

.right {
  display: flex;
  align-items: center;
  gap: 36px;
}
