.main {
  width: 378px;
  min-height: 504px;
  margin: 36px auto 0;
  padding: 24px;
  background-color: var(--dark-500);
  display: flex;
  flex-direction: column;
  align-items: center;

  .signUpLink {
    margin-top: 18px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 6px 0;
  }
}

.h1 {
  font-size: 20px;
  margin-top: 4px;
  text-align: center;
}

.icons {
  margin-top: 20px;
  display: flex;
  gap: 60px;
  justify-content: center;

  button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    // опционально: добавить hover эффект
    &:hover {
      opacity: 0.8;
    }

    // опционально: убрать outline при фокусе и добавить свой
    &:focus {
      outline: none;
      // или добавить свой стиль фокуса
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%; // чтобы inputs растягивались
  margin-top: 24px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.forgotPass {
  margin-top: 38px;
  align-self: flex-end;
  text-decoration: none;
  font-size: 13px;
  color: var(--light-900);
}

.signInBtn {
  margin-top: 30px;
}

.text {
  margin-top: 24px;
  text-align: center;
}
