.loader {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 480px;
  .left {
    position: relative;
    display: flex;
    // align-items: center;
    justify-content: center;
  }

  .right {
    display: flex;
    flex-direction: column;
    background: #2b2b2b;
    color: var(--light-100);
    min-height: 0; // для flex + overflow

    .avatar {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      object-fit: cover;
    }

    .username {
      font-weight: 600;
      margin-right: 6px;
    }

    .header {
      display: flex;
      justify-content: space-between;
      padding: 16px 25px 16px 25px;

      .author {
        display: flex;
        align-items: center;
        gap: 10px;

        flex-shrink: 0;
      }
      .iconBtn {
        margin-left: auto;
        background: transparent;
        border: none;
        color: var(--light-100);
        cursor: pointer;
        font-size: 20px;
      }
    }

    .description {
      display: flex;
      gap: 10px;
      padding: 16px;

      flex-shrink: 0;
    }

    .comments {
      flex: 1;
      overflow-y: auto;
      padding: 0 16px 16px;

      min-height: 0;
    }

    .comment {
      display: flex;
      gap: 10px;
      margin-bottom: 12px;

      .time {
        font-size: 12px;
        opacity: 0.6;
      }
    }

    .footer {
      border-top: 1px solid var(--dark-100);
      padding: 10px 30px 80px 30px;

      flex-shrink: 0;

      .likes {
        font-weight: 600;
        margin-bottom: 6px;
      }

      .date {
        font-size: 12px;
        opacity: 0.6;
      }
    }
  }
}
