// Обертка над всем Radio
.radioWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  min-width: max-content;
}

// Контейнер для группы Radio
.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

// Весь интерактивный элемент Radio
.radioItem {
  position: relative;
  height: 20px;
  width: 20px;
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
  border: 2px solid var(--light-500);
  background: transparent;
  transition: border-color 0.2s ease;

  &::before {
    content: "";
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: var(--dark-100);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: -1;
    transition:
      opacity 0.2s ease,
      background-color 0.2s ease;
    pointer-events: none;
  }

  &:hover::before {
    opacity: 1;
    background: var(--dark-300);
    transition:
      opacity 0.1s ease,
      background-color 0.2s ease;
  }

  &:not(:hover)::before {
    transition:
      opacity 0.3s ease,
      background-color 0.3s ease;
  }

  &:focus-visible::before {
    opacity: 1;
    background: var(--dark-500);
    transition:
      opacity 0.2s ease,
      background-color 0s ease;
  }

  &:active::before {
    opacity: 1;
    background: var(--dark-100);
  }

  // Radio выбран
  &[data-state="checked"] {
    border-color: var(--light-500);

    &[data-disabled] {
      border-color: var(--dark-100);
    }
  }

  // Состояние disabled
  &[data-disabled] {
    cursor: not-allowed;
    border-color: var(--dark-100);
    //opacity: 0.5;

    // Отключить все интерактивные состояния
    &:hover::before,
    &:active::before,
    &:focus-visible::before {
      opacity: 0 !important;
    }
  }
}

// Индикатор состояния (внутренний круг)
.radioIndicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--light-500);
  pointer-events: none;

  &[data-state="checked"] {
    &[data-disabled] {
      background: var(--dark-100);
    }
  }

  // Анимация появления
  &[data-state="unchecked"] {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition:
      opacity 0.1s ease,
      transform 0.1s ease;
  }

  &[data-state="checked"] {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition:
      opacity 0.2s ease,
      transform 0.2s ease;
  }
}

// Текст рядом с Radio
.radioLabel {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  cursor: pointer;
  user-select: none;
  color: var(--light-100);

  .radioItem:disabled + & {
    cursor: not-allowed;
    color: var(--light-900);
  }
}